* {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: sans-serif;
}

h2 {
  padding: 1rem;
}

main {
  margin-bottom: 10rem;
  /*   position: relative; */
}

header {
  border-bottom: 4px solid hotpink;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

footer {
  border-top: 4px solid hotpink;
  background-color: white;
  padding: 1rem;
  margin: 5rem 1rem 0 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-left: 0;
}

.nav-img {
  width: 4rem;
}

.current-page {
  width: 5.5rem;
}

.nav-item {
  list-style: none;
}

.quiz-box {
  border: 2px solid red;
  padding: 1rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.question {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

.answer {
  display: flex;
  justify-content: center;
  width: fit-content;
  border: 1px solid red;
  margin: 0 auto;
  padding: 1rem;
}

.tags {
  background-color: #848e1b53;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 7px;
}

.tag {
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.bookmark-icon {
  width: 5rem;
  position: absolute;
  right: 10px;
  top: -40px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  padding: 2rem;
}

button {
  margin-top: 2rem;
  padding: 1rem;
}

.headshot,
.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.headshot-img {
  width: 300px;
  border-radius: 50%;
  padding-right: 1rem;
}

.profile-name {
  font-size: 4rem;
  padding-left: 1rem;
}

.bio-text {
  font-style: italic;
  margin: 1rem;
}
