.navigation {
  border-top: 4px solid hotpink;
  background-color: white;
  padding: 1rem;
  margin: 5rem 1rem 0 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.navigation__container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  align-items: flex-end;
  flex-wrap: nowrap;
  padding-left: 0;
}

.navigation__item {
  list-style: none;
}
.navigation__image {
  width: 4rem;
  opacity: 0.5;
}

.navigation__image--active {
  width: 5rem;
  opacity: 1;
}
