.navigation {
  background-color: white;
  border-top: 4px solid var(--clr-accent-2);
  margin: 5rem 1rem 0 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.navigation__container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: space-around;
  padding-left: 0;
}

.navigation__item {
  list-style: none;
}
.navigation__image {
  opacity: 0.5;
  width: 2rem;
}

.navigation__image--active {
  opacity: 1;
  width: 3rem;
}

/* MEDIA QUERIES */

@media (min-width: 1000px) {
  .navigation__container {
    max-width: 50rem;
    margin: 0 auto;
  }
  .navigation__image {
    width: 5rem;
  }

  .navigation__image--active {
    width: 7rem;
  }
}
