.quiz-box {
  border-radius: 10px;
  box-shadow: 1px 2px 5px var(--clr-grey-2), -1px -2px 5px var(--clr-grey-2);
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  padding: 1rem;
  position: relative;
  width: 75vw;
}

.quiz-box:nth-child(odd) {
  background-color: var(--clr-box-1);
}

.quiz-box:nth-child(even) {
  background-color: var(--clr-box-2);
}

.quiz-box__question {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 3rem;
}

.quiz-box__answer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  width: fit-content;
}

.quiz-box:nth-child(odd) .quiz-box__answer {
  border: 1px solid var(--clr-box-2);
}

.quiz-box:nth-child(even) .quiz-box__answer {
  border: 1px solid var(--clr-box-1);
}

.quiz-box__bookmark-icon {
  background: center / contain no-repeat url("../../images/mushroom.png");
  height: 8rem;
  position: absolute;
  right: 15px;
  top: -50px;
  width: 5rem;
  transform: scale(1);
  transition: all 0.1s ease;
}

.quiz-box__bookmark--animation {
  background: none;
  height: 8rem;
  position: absolute;
  right: 80px;
  top: 60px;
  width: 4rem;
  transition: all 1s ease;
  transform-box: view-box;
}

.quiz-box__bookmark-icon:hover ~ .quiz-box__bookmark--animation {
  background: center / contain no-repeat url("../../images/super_mario.png");
  transform: translate(50%, -30%);
  transition: all 0.5s ease;
}

.quiz-box__bookmark-icon:hover,
.quiz-box__bookmark-icon--checked {
  background: center / contain no-repeat url("../../images/mushroom_lineal.png");
  transition: all 0.5s steps(4, jump-end);
  transform: scale(1.1);
  transition-delay: 0.15s;
}

.quiz-box__bookmark-icon--checked:hover {
  background: center / contain no-repeat url("../../images/mushroom.png");
  transition-delay: 0.15s;
  transform: scale(1);
}
