.user__card {
  background-color: var(--clr-box-1);
  border-radius: 10px;
  box-shadow: 1px 2px 10px var(--clr-grey-2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  width: 90vw;
}

.user__image {
  border-radius: 50%;
  width: 300px;
}

.user__name {
  font-size: 4rem;
}

.user__bio,
.user__skills {
  margin: 3rem auto;
  width: 90vw;
}

.user__description,
.user__skills-tags {
  background-color: rgba(244, 241, 241, 0.194);
  border-radius: 10px;
  box-shadow: 1px 2px 10px var(--clr-grey-2);
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
}

.user__paragraph {
  font-style: italic;
  margin: 1rem;
}

.user__anchor {
  color: maroon;
  font-style: bold;
  text-decoration: none;
}

.user__logout {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.user__logout button {
  align-self: center;
  background-color: var(--clr-accent-2);
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px rgba(77, 56, 45, 0.212);
  cursor: pointer;
  margin-top: 2rem;
  padding: 12px 20px;
}
